<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button>Rafraîchir</button>
      <a routerLink="create" class="button">Ajouter</a>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Marteau</td>
          <td class="price">2.50 €</td>
          <td class="qty">100</td>
        </tr>
        <tr>
          <td class="name">Rateau</td>
          <td class="price">5.30 €</td>
          <td class="qty">50</td>
        </tr>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">8.40 €</td>
          <td class="qty">30</td>
        </tr>
        <tr>
          <td class="name">Tronçonneuse</td>
          <td class="price">150.00 €</td>
          <td class="qty">15</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
