<main>
  <h1>Mentions Légales</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cumque
    perferendis modi laborum, dolorem laudantium consectetur? Esse dolores ea
    earum, eveniet doloribus veniam accusantium iste dolorum, molestias rem,
    nesciunt modi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eius
    culpa, commodi illo similique recusandae labore magnam, saepe architecto
    natus maxime sed corrupti nihil! Enim itaque labore consequatur expedita
    quas.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus asperiores
    optio rerum aliquid voluptatibus accusamus debitis excepturi, soluta enim
    corporis illo fugiat mollitia eligendi ullam laboriosam laudantium corrupti
    rem labore, sit sint quisquam in fugit commodi sequi. Quo, perferendis
    eligendi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quas
    beatae ipsum velit corrupti nihil provident in, itaque culpa laboriosam
    suscipit dolores optio dignissimos maiores aliquam ab magni nobis esse qui
    iste omnis porro molestias? Delectus, sapiente harum culpa inventore totam
    recusandae veritatis unde iure, facilis vero nulla illo. Maxime harum
    doloremque temporibus dolorum aliquid, error, suscipit minus sed voluptatem
    eum perferendis fugit officiis quae quisquam soluta. Aliquid voluptas
    consequatur distinctio iure natus at minima dolore obcaecati. Modi officia
    dicta doloribus asperiores. Similique ipsam assumenda suscipit adipisci
    aspernatur, iure laudantium accusamus deserunt! Sint quibusdam natus nostrum
    dolore eligendi? Impedit, velit?
  </p>
</main>
